{% extends 'base.html' %}

{% load static %}

{% block title %}سبد خرید{% endblock %}

{% block content %}

<div class="wrapper">
    <!-- Start main-content -->
    <main class="main-content dt-sl mb-3">
        <div class="container main-container">
            <div class="row">
                <div class="col-12">
                    <div class="dt sl dt-sn dt-sn--box border pt-3 pb-5">
                        <div class="cart-page cart-empty">
                            <div class="circle-box-icon">
                                <i class="mdi mdi-cart-remove"></i>
                            </div>
                            <p class="cart-empty-title">سبد خرید شما خالیست!</p>
                            <p>می‌توانید برای مشاهده محصولات بیشتر به صفحات زیر بروید:</p>
                            {% if request.user.is_authenticated %}
                            <div class="cart-empty-links mb-5">
                                <a href="{% url 'accounts:profile_favorite' %}" class="border-bottom-dt">لیست مورد علاقه من</a>
                            </div>
                            {% endif %}
                            <a href="{% url 'main:home' %}" class="btn-primary-cm">ادامه خرید در دیدیکالا</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- End main-content -->
</div>

{% endblock %}
