{% extends 'base.html' %}

{% load static %}

{% block title %}سفارش ها{% endblock %}

{% block content %}

    <div class="wrapper">
        <!-- Start main-content -->
        <main class="main-content dt-sl mb-3">
            <div class="container main-container">
                <div class="row">
                    <!-- Start Sidebar -->
                    {% include 'accounts/slider.html' %}
                    <!-- End Sidebar -->
                    <!-- Start Content -->
                    <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12">
                        <div class="row">
                            <div class="col-12">
                                <div
                                    class="section-title text-sm-title title-wide mb-1 no-after-title-wide dt-sl mb-2 px-res-1">
                                    <h2>همه سفارش‌ها</h2>
                                </div>
                                <div class="dt-sl">
                                    {% if orders %}
                                    <div class="table-responsive">
                                        <table class="table table-order">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>شماره سفارش</th>
                                                    <th>تاریخ ثبت سفارش</th>
                                                    <th>مبلغ قابل پرداخت</th>
                                                    <th>مبلغ کل</th>
                                                    <th>عملیات پرداخت</th>
                                                    <th>جزییات</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for order in orders %}
                                                <tr>
                                                    <td>{{ forloop.counter }}}</td>
                                                    <td>{{ order.id }}</td>
                                                    <td>{{ order.modified }}</td>
                                                    <td>{{ order.get_total_price }}</td>
                                                    <td>{{ order.get_total_price }} تومان</td>
                                                    <td>{% if order.paid %}پرداخت شده{% else %}لغو شده{% endif %}</td>
                                                    <td class="details-link">
                                                        <a href="{% url 'accounts:profile_order_detail' order.id %}">
                                                            <i class="mdi mdi-chevron-left"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    {% else %}
                                        <p class="alert alert-warning">شما تاکنون سفارشی نداشته اید</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Content -->
                </div>
            </div>
        </main>
        <!-- End main-content -->
    </div>

{% endblock %}