{% extends 'accounts/base_login_and_register.html' %}

{% load static %}

{% block title %}بازیابی اکانت{% endblock %}

{% block content %}
<div class="wrapper">
    <!-- Start main-content -->
    <main class="main-content dt-sl mt-4 mb-3">
        <div class="container main-container">
            <div class="row">
                <div class="col-xl-4 col-lg-5 col-md-7 col-12 mx-auto">
                    <div class="logo-area text-center mb-3">
                        <a href="{% url 'main:home' %}"><img src="{% static 'img/logo.png' %}" class="img-fluid"
                                                             alt="logo"></a>
                    </div>
                    <div class="auth-wrapper form-ui border pt-4">
                        <div class="section-title title-wide mb-1 no-after-title-wide">
                            <h2 class="font-weight-bold">رمز عبور شما با موفقیت تغییر یافت.</h2>
                        </div>
                    </div>
                    <div class="form-row mt-3">
                        <a href="{% url 'accounts:login' %}" class="btn btn-primary">ورود به حساب کاربری</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- End main-content -->>
</div>
{% endblock %}
