{% load static %}

{% load product_tags %}

<div class="item">
    <div class="product-card mb-3">
        <div class="product-head">
            <div class="rating-stars">
                {% if p.get_total_rate %}
                <div class="rating-stars">
                    {% for i in p.get_total_rate|times %}
                    <i class="mdi mdi-star active"></i>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% if p.discount %}
            <div class="discount">
                <span>{{ p.discount }}%</span>
            </div>
            {% endif %}
        </div>
        <a class="product-thumb" href="{{ p.get_absolute_url }}">
            <img src="{{ p.get_image.image.url }}" alt="{{ p.english_title }}">
        </a>
        <div class="product-card-body">
            <h5 class="product-title">
                <a href="{{ p.get_absolute_url }}">{{ p.title }}</a>
            </h5>
            <a class="product-meta" href="shop-categories.html">{{ p.get_category.name }}</a>
            <span class="product-price">{{ p.get_stock.price }} تومان</span>
        </div>
    </div>
</div>