{% extends 'catalogue/catalogue_base.html' %}

{% load static %}

{% load product_tags %}

{% load thumbnail %}

{% block title %}محصولات{% endblock %}

{% block js_files %}
<script src="{% static  'js/tab.js' %}"></script>
{% endblock %}

{% block js_files2 %}
<script src="{% static 'js/ajax/filter.js' %}"></script>
{% endblock %}

{% block data %}
<div class="wrapper">
    <!-- Start main-content -->
    <main class="main-content dt-sl mb-3">
        <div class="container main-container">
            <div class="row">
                <!-- Start Sidebar -->
                <div class="col-lg-3 col-md-12 col-sm-12 sticky-sidebar filter-options-sidebar">
                    <div class="d-md-none">
                        <div class="header-filter-options">
                            <span>جستجوی پیشرفته <i class="fad fa-sliders-h"></i></span>
                            <button class="btn-close-filter-sidebar"><i class="fal fa-times"></i></button>
                        </div>
                    </div>
                    <div class="dt-sn dt-sn--box mb-3">
                        <form action="">
                            <div class="col-12">
                                <div class="section-title text-sm-title title-wide mb-1 no-after-title-wide">
                                    <h2>فیلتر محصولات</h2>
                                </div>
                            </div>

                            <div class="col-12 filter-product mb-3">
                                <div class="accordion" id="accordionExample">
                                    {% if filters.categories %}
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h2 class="mb-0">
                                                <button class="btn btn-block text-right collapsed" type="button"
                                                        data-toggle="collapse" data-target="#collapseOne"
                                                        aria-expanded="false" aria-controls="collapseOne">
                                                    دسته بندی
                                                    <i class="mdi mdi-chevron-down"></i>
                                                </button>
                                            </h2>
                                        </div>
                                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                             data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input category" value="all"
                                                           id="customCheck1">
                                                    <label class="custom-control-label"
                                                           for="customCheck1">همه</label>
                                                </div>
                                                {% for category in filters.categories %}
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input category" value="{{ category.id }}"
                                                           id="{{ category.slug }}">
                                                    <label class="custom-control-label" for="{{ category.slug }}">{{ category.name }}</label>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if filters.brands %}
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h2 class="mb-0">
                                                <button class="btn btn-block text-right collapsed" type="button"
                                                        data-toggle="collapse" data-target="#collapseTwo"
                                                        aria-expanded="false" aria-controls="collapseTwo">
                                                    برند
                                                    <i class="mdi mdi-chevron-down"></i>
                                                </button>
                                            </h2>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                             data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input brand" value="all"
                                                           id="customCheck7">
                                                    <label class="custom-control-label"
                                                           for="customCheck7">همه</label>
                                                </div>
                                                {% for brand in filters.brands %}
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input brand" value="{{ brand.id }}"
                                                           id="{{ brand.slug }}">
                                                    <label class="custom-control-label"
                                                           for="{{ brand.slug }}">{{ brand.name }}</label>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if filters.partners %}
                                    <div class="card">
                                        <div class="card-header" id="headingThree">
                                            <h2 class="mb-0">
                                                <button class="btn btn-block text-right collapsed" type="button"
                                                        data-toggle="collapse" data-target="#collapseThree"
                                                        aria-expanded="false" aria-controls="collapseThree">
                                                    فروشنده
                                                    <i class="mdi mdi-chevron-down"></i>
                                                </button>
                                            </h2>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                             data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input partner" value="all"
                                                           id="customCheck11">
                                                    <label class="custom-control-label"
                                                           for="customCheck11">همه</label>
                                                </div>
                                                {% for partner in filters.partners %}
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input partner" value="{{ partner.id }}"
                                                           id="{{ partner.name }}">
                                                    <label class="custom-control-label" for="{{ partner.name }}">{{ partner.name }}</label>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if filters.colors %}
                                    <div class="card">
                                        <div class="card-header" id="headingFour">
                                            <h2 class="mb-0">
                                                <button class="btn btn-block text-right collapsed" type="button"
                                                        data-toggle="collapse" data-target="#collapseFour"
                                                        aria-expanded="false" aria-controls="collapseFour">
                                                    رنگها
                                                    <i class="mdi mdi-chevron-down"></i>
                                                </button>
                                            </h2>
                                        </div>
                                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                             data-parent="#accordionExample">
                                            <div class="card-body">
                                                {% for color in filters.colors %}
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input color" value="{{ color.id }}"
                                                           id="{{ color.color }}">
                                                    <label class="custom-control-label"
                                                           for="{{ color.color }}">{{ color.get_color_display }}</label>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-12 mb-3">
                                <div class="parent-switcher">
                                    <label class="ui-statusswitcher">
                                        <input type="checkbox" id="switcher-1">
                                        <span class="ui-statusswitcher-slider">
                                                <span class="ui-statusswitcher-slider-toggle"></span>
                                            </span>
                                    </label>
                                    <label class="label-switcher" for="switcher-1">فقط کالاهای موجود</label>
                                </div>
                            </div>
                        </form>
                        <div class="col-12">
                            <button class="btn btn-info btn-block"
                                    data-id="{{ object_list.first.product_type.id }}"
                                    onclick="FilterProduct()" id="submit_filters">
                                فیلتر
                            </button>
                        </div>
                    </div>
                </div>
                <!-- End Sidebar -->
                <!-- Start Content -->
                <div class="col-lg-9 col-md-12 col-sm-12 search-card-res">
                    <div class="d-md-none">
                        <button class="btn-filter-sidebar">
                            جستجوی پیشرفته <i class="fad fa-sliders-h"></i>
                        </button>
                    </div>
                    <div class="dt-sl dt-sn px-0 search-amazing-tab">
                        {% if not no_filter %}
                        <div class="ah-tab-wrapper dt-sl">
                            <div class="ah-tab dt-sl">
                                <a class="ah-tab-item" href="" data-filter="relation" data-product="{{ slug }}">مرتبط
                                    ترین</a>
                                <a class="ah-tab-item" data-filter="view" data-product="{{ slug }}">پربازدید
                                    ترین</a>
                                <a class="ah-tab-item" href="" data-filter="new" data-product="{{ slug }}">جدید ترین</a>
                                <a class="ah-tab-item" href="" data-filter="sale" data-product="{{ slug }}">پرفروش
                                    ترین</a>
                                <a class="ah-tab-item" href="" data-filter="cheap" data-product="{{ slug }}">ارزان
                                    ترین</a>
                                <a class="ah-tab-item" href="" data-filter="expensive" data-product="{{ slug }}">گران
                                    ترین</a>
                            </div>
                        </div>
                        {% endif %}
                        <div class="ah-tab-content-wrapper dt-sl px-res-0" id="product_tab">
                            <div class="ah-tab-content dt-sl" data-ah-tab-active="true">
                                <div class="row mb-3 mx-0 px-res-0">
                                    {% for product in page_obj %}
                                    {% include 'catalogue/pro_search.html' with product=product %}
                                    {% empty %}
                                    <p class="alert alert-warning">محصولی یافت نشد</p>
                                    {% endfor %}
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="pagination">
                                            {% if page_obj.has_previous %}
                                            <a href="?page={{ page_obj.previous_page_number }}" class="prev"><i
                                                    class="mdi mdi-chevron-double-right"></i></a>
                                            {% endif %}

                                            {% for page in paginator.page_range %}
                                            {% if page == page_obj.number %}
                                            <a href="?page={{ page }}" class="active-page">{{ page }}</a>
                                            {% elif page > page_obj.number|add:'2' %}
                                            {% elif page < page_obj.number|add:'-2' %}
                                            {% else %}
                                            <a href="?page={{ page }}">{{ page }}</a>
                                            {% endif %}
                                            {% endfor %}

                                            {% if page_obj.has_next %}
                                            <a href="?page={{ page_obj.next_page_number }}" class="next"><i
                                                    class="mdi mdi-chevron-double-left"></i></a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Content -->
            </div>
        </div>
    </main>
    <!-- End main-content -->
</div>
{% endblock %}
